@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap')

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  max-width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}

.section-1 { 
    max-width: 50%;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.section-2 { 
    width: 85%;
    margin-left: auto; 
}

.section-2 p {
    margin-right: 10px;
    margin-left: 14px;
    max-width: 85%
}

.section-2 .blur { 
    margin-right: 10px;
    margin-left: 2px;
    padding-right: 10px;
    padding-left: 0px;
    max-width: 90%;
    max-height: 80%;
    z-index: -1;
    top: -40px;
    left: -50px;
    filter: blur(30px);
}

.image-container {
    position: relative;
}

.text-div {
    position: absolute;
    top: 46%; 
    left: 46%; 
    transform: translate(-50%, -50%); 
    background-color: black;
    min-width: 20px;
    min-height: 20px;
    width: 70px;
    height: 70px;
    border-radius: 40px;
    color: white;
    border-width: 2px;
    text-align: center;
}

.image-container .text-div .loading-text { 
    position: absolute;
    margin-top: 32%;
    margin-left: 28%;
    font-size: 20px;
}

figcaption { 
    font-size: 10px;
    text-align: center;
    margin-left: -10%;
}